version: "3.9"
services:
  backend:
    container_name: backend
    hostname: backend
    build:
      context: ./
      dockerfile: ./DockerFiles/Dockerfile_BackEnd
    image: armoredguitar/diffusion_demo:latest
    expose:
      - "5000"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:5000/healthy"]
      interval: 1m
      timeout: 10s
      retries: 15
      start_period: 40s
    deploy:
      resources:
        limits:
          memory: 13G
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]

  frontend:
    container_name: frontend
    hostname: armoredguitar/diffusion_app:latest
    depends_on:
      backend:
        condition: service_healthy
    build:
      context: ./
      dockerfile: ./DockerFiles/Dockerfile_FrontEnd
    image: streamlit:latest
    ports:
      - "8501:8501"
    deploy:
      resources:
        limits:
          memory: 1G
